# Extracting data from relational databases

## SQLite Database

**import packages**

In [1]:
# import sqlite3 package
import sqlite3

**Connect to database**

In [2]:
# create a connection to a database: 
connection = sqlite3.connect("classroomDB.db")
connection.close()

**create table**

In [3]:
# open connection - 
connection = sqlite3.connect("classroomDB.db")
# open cursor
cursor = connection.cursor()
# query for creating table
create_table = """
                CREATE TABLE classroom (
                student_id INTEGER PRIMARY KEY,
                name VARCHAR(20),
                gender CHAR(1),
                physics_marks INTEGER,
                chemistry_marks INTEGER,
                mathematics_marks INTEGER
            );"""

# execute query
cursor.execute(create_table)
# commit changes
connection.commit()
# close connection
connection.close()

**insert data**

In [4]:
# sample data
classroom_data = [( 1, "Raj", "M", 70, 84, 92),
                  ( 2, "Poonam", "F", 87, 69, 93),
                  ( 3, "Nik", "M", 65, 83, 90),
                  (4, "Rahul", "F", 83, 76, 89)]
# open connection
connection = sqlite3.connect("classroomDB.db")
# open cursor object
cursor = connection.cursor()
# insert each student record
for student in classroom_data:
    # formatted query string
    insert_statement = """INSERT INTO classroom
                      (student_id, name, gender, physics_marks, chemistry_marks, mathematics_marks)
                      VALUES
                      ({0}, "{1}", "{2}", {3}, {4}, {5});""".format(student[0], student[1], student[2], student[3], student[4], student[5])
# execute query
cursor.execute(insert_statement)
# commit changes
connection.commit()
# close connection
connection.close()

NameError: name 'sqlite3' is not defined

**extract data**

In [6]:
# open connection - 
connection = sqlite3.connect("classroomDB.db")
# open cursor
cursor = connection.cursor()
# query
query = "SELECT * FROM classroom"
# execute query
cursor.execute(query)
# fetch results
result = cursor.fetchall()
# print result
for row in result:
    print(row)
# close connection
connection.close()

(4, 'Rahul', 'F', 83, 76, 89)

## MySQL Database

**Install package**

In [7]:
!conda install -y -q pymysql

Collecting package metadata: ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\Chris\Anaconda3

  added / updated specs:
    - pymysql


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    certifi-2019.3.9           |           py37_0         155 KB
    conda-4.6.12               |           py37_1         2.1 MB
    openssl-1.1.1b             |       he774522_1         5.7 MB
    pymysql-0.9.3              |           py37_0          83 KB
    ------------------------------------------------------------
                                           Total:         8.1 MB

The following NEW packages will be INSTALLED:

  pymysql            pkgs/main/win-64::pymysql-0.9.3-py37_0

The following packages will be UPDATED:

  ca-certificates    conda-forge::ca-certificates-2018.11.~ --> pkgs/main::ca-certificates-2019.1.23-0
  certifi            conda-forge::certifi-2018.11.29-py37_~ --> pkgs/main::certifi-2019.3.9-py37_0
  conda                     conda-forge::conda-4.6.3-py37_0 --> pkgs/main::conda-4.6.12-py37_1
  openssl            conda-forge::openssl-1.1.1a-hfa6e2cd_~ --> pkgs/main::openssl-1.1.1b-he774522_1


Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

C:\Users\Chris\Documents\Anaconda Books\Data Science>A IN ("C:\Users\Chris\Anaconda3\condabin\") DO @SET _sysp=%~dpA
Collecting package metadata: ...working... done
Solving environment: ...working...
The environment is inconsistent, please check the package plan carefully
The following packages are causing the inconsistency:

  - defaults/win-64::anaconda==5.3.1=py37_0
  - defaults/win-64::blaze==0.11.3=py37_0
  - defaults/win-64::h5py==2.8.0=py37h3bdd7fb_2
  - defaults/win-64::mkl-service==1.1.2=py37hb217b18_5
  - defaults/win-64::numexpr==2.6.8=py37h9ef55f4_0
  - defaults/win-64::pytables==3.4.4=py37he6f6034_0
  - defaults/win-64::scikit-learn==0.19.2=py37heebcf9a_0
done

# All requested packages already installed.

Der Befehl "A" ist entweder falsch geschrieben oder
konnte nicht gefunden werden.

**import package**

In [2]:
import pymysql

**connect to database**

In [3]:
# Connection details
# cnx == dictonary object
cnx = {'host': '',
       'username': 'test',
       'password': 'test123456',
       'db': 'classroomDB'}

# Connect to database
connection = pymysql.connect(cnx['host'],cnx['username'],cnx['password'],cnx['db'] )

#close database
connection.close()

OperationalError: (2003, "Can't connect to MySQL server on 'mysqldb.cl12wj3xlqsae.us-west-2.rds.amazonaws.com' ([Errno 11001] getaddrinfo failed)")

**create table**

In [ ]:
# open connection - 
connection = pymysql.connect(cnx['host'],cnx['username'],cnx['password'],cnx['db'] )
# open cursor
cursor = connection.cursor()
# query for creating table
create_table = """
                CREATE TABLE classroom (
                student_id INTEGER PRIMARY KEY,
                name VARCHAR(20),
                gender CHAR(1),
                physics_marks INTEGER,
                chemistry_marks INTEGER,
                mathematics_marks INTEGER
            );"""

# execute query
cursor.execute(create_table)
# commit changes
connection.commit()
# close connection
connection.close()

**insert data**

In [ ]:
# sample data
classroom_data = [( 1, "Raj", "M", 70, 84, 92),
                  ( 2, "Poonam", "F", 87, 69, 93),
                  ( 3, "Nik", "M", 65, 83, 90),
                  (4, "Rahul", "F", 83, 76, 89)]
# open connection
connection = pymysql.connect(cnx['host'],cnx['username'],cnx['password'],cnx['db'] )
# open cursor object
cursor = connection.cursor()
# insert each student record
for student in classroom_data:
    # formatted query string
    insert_statement = """INSERT INTO classroom
                      (student_id, name, gender, physics_marks, chemistry_marks, mathematics_marks)
                      VALUES
                      ({0}, "{1}", "{2}", {3}, {4}, {5});""".format(student[0], student[1], student[2], student[3], student[4], student[5])
# execute query
cursor.execute(insert_statement)
# commit changes
connection.commit()
# close connection
connection.close()

**extract data**

In [ ]:
# open connection - 
connection = pymysql.connect(cnx['host'],cnx['username'],cnx['password'],cnx['db'] )
# open cursor
cursor = connection.cursor()
# query
query = "SELECT * FROM classroom"
# execute query
cursor.execute(query)
# fetch results
result = cursor.fetchall()
# print result
for row in result:
    print(row)
# close connection
connection.close()